[global]
auth_service_required = cephx
fsid = {{ pillar['CephClusterFSID'] }}
auth_supported = cephx
auth_cluster_required = cephx
mon_host = 172.31.17.215, 172.31.17.216, 172.31.17.217
auth_client_required = cephx

[client]
rbd_default_features = 1
