[DEFAULT]
http_timeout=600
log_dir=/var/log/ceilometer
rpc_backend=rabbit
[api]
[collector]
[compute]
[coordination]
[cors]
[cors.subdomain]
[database]
metering_time_to_live=-1
event_time_to_live=-1
[dispatcher_file]
[dispatcher_gnocchi]
[event]
[exchange_control]
[hardware]
[ipmi]
[keystone_authtoken]
[matchmaker_redis]
[meter]
[notification]
[oslo_concurrency]
[oslo_messaging_amqp]
[oslo_messaging_notifications]
topics=notifications
[oslo_messaging_rabbit]
rabbit_hosts=172.23.16.210:5672,172.23.16.211:5672,172.23.16.212:5672
rabbit_use_ssl=False
rabbit_userid=guest
rabbit_password={{ pillar['RabbitPassword'] }}
rabbit_ha_queues=True
heartbeat_timeout_threshold=60
[oslo_messaging_zmq]
[oslo_middleware]
[oslo_policy]
[polling]
[publisher]
telemetry_secret={{ pillar['CeilometerMeteringSecret'] }}
[publisher_notifier]
[rgw_admin_credentials]
[service_credentials]
region_name=regionOne
interface=internalURL
auth_type=password
auth_url=http://172.23.16.10:5000
project_name=service
project_domain_name=Default
username=ceilometer
user_domain_name=Default
password={{ pillar['CeilometerPassword'] }}
[service_types]
[storage]
[vmware]
[xenapi]
